<div class="btn-group">
    <button class="btn btn-primary" (click)="guardarCliente()">Guardar Cliente</button>
    <button class="btn btn-primary" (click)="guardarProductos()">Guardar Productos</button>
<!--     <button class="btn btn-danger" (click)="leer()">Leer</button> -->
    <button class="btn btn-danger" (click)="eliminarClientes()">Eliminar Clientes</button>
    <button class="btn btn-danger" (click)="eliminarProductos()">Eliminar Productos</button>
    <button class="btn btn-danger" (click)="eliminarTodos()">Eliminar Todos</button>
</div>
<div class="container">
    <div class="ClientesContenedor" *ngFor="let cliente of ClientesLocales">
        <p>Cliente: {{cliente.nombre}} {{cliente.apellido}}</p>
        <p>Edad {{cliente.edad}}</p>
    </div>
</div>

<div class="container">
    <div class="ProductosContenedor" *ngFor="let producto of ProductosLocales">
        <p>Producto: {{producto.nombre}}</p>
        <p>Precio: {{producto.precio | currency: '$'}}</p>
    </div>
</div>